@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-arrow:before {
	content: "\e000";
}
.flaticon-check:before {
	content: "\e001";
}
.flaticon-code:before {
	content: "\e002";
}
.flaticon-waffle:before {
	content: "\e003";
}
.flaticon-facebook:before {
	content: "\e004";
}
.flaticon-github-head:before {
	content: "\e005";
}
.flaticon-octocat-stache:before {
	content: "\e006";
}
.flaticon-idea:before {
	content: "\e007";
}
.flaticon-reject:before {
	content: "\e008";
}
.flaticon-message:before {
	content: "\e009";
}
.flaticon-heart:before {
	content: "\e00a";
}
.flaticon-new:before {
	content: "\e00b";
}
.flaticon-question:before {
	content: "\e00c";
}
.flaticon-octocat:before {
	content: "\e00d";
}
.flaticon-conversation:before {
	content: "\e00e";
}
.flaticon-widget-reverse:before {
	content: "\e00f";
}
.flaticon-widget-icon:before {
	content: "\e010";
}
.flaticon-star:before {
	content: "\e011";
}
.flaticon-twitter:before {
	content: "\e012";
}
.flaticon-website:before {
	content: "\e013";
}
.flaticon-widget:before {
	content: "\e014";
}
