Django==1.7.3
-e git://github.com/Jucyio/PyGithub.git@master#egg=PyGithub
PyJWT==0.4.1
argparse==1.2.1
mock==1.0.1
oauthlib==0.7.2
python-openid==2.2.5
python-social-auth==0.2.2
requests==2.6.0
requests-oauthlib==0.4.2
six==1.9.0
wsgiref==0.1.2
