
.a-variant(@color) {
    a {
	color: @color;
	&:hover,
	&:focus {
            color: darken(@color, 20%);
	}
    }
}

.a-variant(@color, @secondary) {
    a {
	color: @color;
	&:hover,
	&:focus {
            color: @secondary;
	}
    }
}
