<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Test for the Jucy.io widget</title>
    <link rel="stylesheet/less" type="text/css" href="/_static/jucy.less" />
    <script src="http://localhost:8000/_static/bower/less/dist/less.min.js"></script>
    <!--<link rel="stylesheet" href="/_static/jucy.css">-->
  </head>
  <body style="background: #ccc;">
    <main style="width: 50%; margin: auto; background: white; padding: 5%;">
    <h1>Carrot cake gummi bears carrot cake tart chocolate bar candy canes candy lollipop</h1>
    <p>
      Cake cake sweet roll candy wafer. Donut wafer icing. Chupa chups jelly-o lollipop apple pie. Marshmallow chocolate bar candy pie soufflé gummies muffin carrot cake halvah. Marzipan muffin icing macaroon candy canes toffee sweet jelly. Fruitcake icing gummi bears jelly-o icing chupa chups wafer sesame snaps cotton candy. Cookie halvah sweet roll sesame snaps tart pastry marshmallow. Cake danish powder liquorice jelly-o ice cream dragée toffee. Sweet powder pie muffin croissant wafer dessert sweet. Ice cream danish dessert cupcake dessert. Danish soufflé fruitcake sweet caramels chocolate bar muffin. Soufflé lollipop cheesecake gummi bears candy gummi bears pie gummi bears marshmallow. Marshmallow caramels muffin tart brownie chocolate cake cookie jelly beans. Soufflé topping powder sugar plum cheesecake marshmallow.
      </p>
    <p>
      <a href="#jucy-link-ideas">Report a bug</a>
      <button data-jucy-link="contact">Contact us</a>
    </p>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script>
      var jucy_repository = 'SchoolIdolTomodachi/SchoolIdolAPI';
    </script>
    <script src="/_static/jucy.js"></script>
  </body>
</html>
