{% load i18n %}
{% include 'include/head.html' %}
  <body id="current-{{ current }}">
    {% block body %}
    <nav class="navbar navbar-jucy navbar-fixed-top">
      <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/">
	    <img src="/_static/img/whiteslice.svg" class="icon" />
	    <span class="logo">{% trans 'jucy' %}</span>
	    {% block navbartitle %}
	    {% endblock %}
	</div>
	<div class="collapse navbar-collapse collapse">
	  <ul class="nav navbar-nav navbar-right">
	    {% if repository %}
	    <li class="{% if current == 'ideas' %}active{% endif %}"><a href="/{{ repository }}/ideas/">{% trans 'Ideas' %}</a></li>
	    {% if is_collaborator or current == 'widget' %}
	    <li class="{% if current == 'widget' %}active{% endif %}"><a href="/{{ repository }}/widget/">{% trans 'Widget' %}</a></li>
	    {% endif %}
	    {% else %}
	    <li class="{% if current == 'about' %}active{% endif %}"><a href="/_about/">{% trans 'About' %}</a></li>
	    {% endif %}
	    <li class="dropdown{% if not user.is_authenticated %} hidden{% endif %}" id="authenticated">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
		<span id="authenticated_username">{% if is_connected_github %}{{ user.username }}{% else %}{{ user.email }}{% endif %}</span>
		<span class="caret"></span>
	      </a>
	      <ul class="dropdown-menu" role="menu">
		<li class="{% if current == 'pick' %}active{% endif %}"><a href="/_pick/">{% trans 'Your repositories' %}</a></li>
		<li><a href="/_logout/"><i class="flaticon-logout"></i> {% trans 'Logout' %}</a></li>
		{% if repository %}
		<li role="presentation" class="divider"></li>
		<li class="{% if current == 'about' %}active{% endif %}"><a href="/_about/">{% trans 'About' %}</a></li>
		{% endif %}
	      </ul>
	    </li>
	    {% if not user.is_authenticated %}
	    <li class="hidden-when-authenticated"><a href="{% if landing_mode %}/_mailing/{% else %}#{% endif %}"{% if not landing_mode %} data-modal-authenticate="true"{% endif %}><i class="flaticon-logout"></i> Log in</a></li>
	    <li class="hidden-when-authenticated"><a href="{% if landing_mode %}/_mailing/{% else %}/_oauth/login/github{% endif %}" class="{% if current == 'pick' %}active{% endif %}">
	        {% trans 'Get Jucy' %}
	        <img height="20" src="/_static/img/whitejucy.svg" alt="jucy" />
	      </a>
	    </li>
	    {% endif %}
	    {% block navbuttons %}{% endblock %}
	  </ul>
	</div>
      </div>
    </nav>
    {% block stickyfooter %}{% endblock %}
    <main class="container">
      {% block content %}
      {% endblock %}
    </main>
    {% block endstickyfooter %}{% endblock %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% if not user.is_authenticated %}
    {% include 'include/authenticate_form.html' %}
    {% endif %}

    <!-- Free Modal -->
    <div class="modal fade" id="freeModal">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <h4 class="modal-title"></h4>
	  </div>
	  <div class="modal-body"></div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-jucy" data-dismiss="modal">{% trans 'Go' %}</button>
	  </div>
	</div>
      </div>
    </div>
    {% include 'include/js.html' %}
    <script>
      {% if repository %}
      var repository = '{{ repository }}';
      {% endif %}
      var authenticated_user = {% if not user.is_authenticated %}null{% else %}{
        'username': '{{ user.username }}',
        'email': '{{ user.email }}',
        'github': {{ is_connected_github|yesno:'true,false' }},
        {% if repository %}
        'is_collaborator': {{ is_collaborator|default:False|yesno:'true,false'}},
        {% endif %}
      }{% endif %};
    </script>
    {% block js %}{% endblock %}
  </body>
</html>
