{% extends 'base.html' %}
{% load i18n %}

{% block js %}
<script src="/_static/bower/marked/marked.min.js"></script>
<script src="/_static/js/issues.js"></script>
{% endblock %}

{% block content %}
{% load tools %}
{% if is_collaborator %}
<div class="text-right filters">
  <ul class="nav nav-tabs navbar-right">
    <li{% if not tab %} class="active"{% endif %}><a href=".">{% trans 'New' %}</a></li>
    <li{% if 'ready' in tab %} class="active"{% endif %}><a href="?tab=ready"><span class="text-info">{% trans 'Ready' %}</span></a></li>
    <li{% if 'done' in tab %} class="active"{% endif %}><a href="?tab=done"><span class="text-success">{% trans 'Done' %}</span></a></li>
    <li{% if 'rejected' in tab %} class="active"{% endif %}><a href="?tab=rejected"><span class="text-danger">{% trans 'Rejected' %}</span></a></li>
    <li{% if 'duplicates' in tab %} class="active"{% endif %}><a href="?tab=duplicates"><span class="text-muted">{% trans 'Duplicate' %}</span></a></li>
  </ul>
</div>
{% endif %}
{% if not issues %}
<div class="jucy-alert">
  {% trans 'Nothing to see here.' %}
  {% if is_collaborator %}
  <br>{% trans 'Try to change the filters to see more.' %}
  {% endif %}
</div>
{% include 'include/add_idea.html' %}
{% else %}
<div class="row">
  {% for issue in issues %}
  {% if forloop.counter0|mod:3 %}
</div><div class="row">
  {% endif %}
  {% include 'include/idea.html' %}
  {% endfor %}
  <div class="col-md-4">
    {% include 'include/add_idea.html' %}
  </div>
</div> <!-- row -->
{% endif %}
<br>
<br>
<br>
<br>
<br>
{% endblock %}
