{% extends 'base.html' %}
{% block content %}
{% load tools %}
<div class="row">

  {% for issue in issues %}
  {% if forloop.counter0|mod:3 %}
</div><div class="row">
  {% endif %}
  <div class="col-md-4">
    <div class="issue {{ issue.state }} {% for label in issue.labels %}github-label-{{ label.name }}{% endfor %}" id="issue{{ issue.id }}">
      <a href="#details{{ issue.id }}" data-toggle="collapse" class="title">{{ issue.title }}</a>
      <div class="details collapse" id="details{{ issue.id }}">
	{% if issue.body %}
	<span class="body">{{ issue.body }}</span>
	{% endif %}
      </div>
      <div class="text-right">
	<a href="#like"><i class="fa fa-heart text-jucy fa-2x"></i></a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
