{% extends 'jucybase.html' %}
{% block content %}
{% load i18n %}

{% if boards %}
<h1>{% trans 'Your jucy dashboards' %}</h1>

<div class="existing">
  {% for board in boards %}
  <a href="/{{ board.0 }}/{{ board.1 }}/" target="_blank" class="inline-block">
    <span class="username text-muted">{{ board.0 }}</span><br>
    <span class="repository">{{ board.1 }}</span>
  </a>
  {% endfor %}
</div>

<hr class="margin50">

<h1>{% trans 'Create a new dashboard' %}</h1>

{% endif %}

<form class="form-group create-dashboard margin50" method="POST">
  {% csrf_token %}
  <input class="form-control input-lg typeahead" type="text" placeholder="{% trans 'Repository' %}" name="repository">
  <div class="text-right">
    <input type="submit" class="btn btn-jucy btn-lg" value="{% trans 'Get started' %}">
  </div>
</form>
{% endblock %}

{% block js %}
<script>
  var repositories = [
  {% for repository in repositories %}
  '{{ repository.0 }}/{{ repository.1 }}',
  {% endfor %}
  ];
</script>
<script src="/_static/bower/typeahead.js/dist/bloodhound.min.js"></script>
<script src="/_static/bower/typeahead.js/dist/typeahead.jquery.min.js"></script>
<script src="/_static/js/pick.js"></script>
{% endblock %}
