{% extends 'jucybase.html' %}
{% block content %}
{% load i18n %}

{% if boards %}
<h1>{% trans 'Your jucy dashboards' %}</h1>

{% for board in boards %}
<a href="/{{ board }}" target="_blank" class="btn btn-jucy btn-lg">{{ board}}</a>
{% endfor %}

<hr class="margin50">

<h1>{% trans 'Create a new dashboard' %}</h1>

{% endif %}

<form class="form-group create-dashboard margin50">
  <input class="form-control input-lg typeahead" type="text" placeholder="{% trans 'Repository' %}">
  <div class="text-right">
    <input type="submit" class="btn btn-jucy btn-lg" value="{% trans 'Get started' %}">
  </div>
</form>
{% endblock %}

{% block js %}
<script>
  var repositories = [
  {% for r in repos %}
  '{{r}}',
  {% endfor %}
  ];
</script>
<script src="/_static/bower/typeahead.js/dist/bloodhound.min.js"></script>
<script src="/_static/bower/typeahead.js/dist/typeahead.jquery.min.js"></script>
<script src="/_static/js/pick.js"></script>
{% endblock %}
