{% load i18n %}
    <footer id="footer">
      <div class="container">
	<div class="row">
	  <div class="col-md-5">
	    <div class="logo">jucy&nbsp;<span><img src="/_static/img/whitejucy.svg"></span></div>
	    <div class="social-buttons">
	      <a href="https://twitter.com/jucyio"><i class="flaticon-twitter"></i></a>
	      <a href="https://www.facebook.com/jucyio/"><i class="flaticon-facebook"></i></a>
	      <a href="https://github.com/Jucyio"><i class="flaticon-github-head"></i></a>
	    </div>
	  </div>
	  <div class="col-md-3">
	    <br><br>
	    <nav>
	      <ul>
		<!-- <li> -->
		<!--   <a href="/_pricing/"><span class="emojione-render">🌟</span> {% trans 'Plans & Pricing' %}</a> -->
		<!-- </li> -->
		<!-- <li> -->
		<!--   <a href="#jucy-questions"><span class="emojione-render">❓</span> {% trans 'Help' %}</a> -->
		<!-- </li> -->
		<!-- <li> -->
		<!--   <a href="/_documentation/"><span class="emojione-render">📂</span> {% trans 'Documentation' %}</a> -->
		<!-- </li> -->
		<li>
		  <a href="/_terms/"><span class="emojione-render">📄</span> {% trans 'Terms of services' %}</a>
		</li>
		<li>
		  <a href="/_privacy/"><span class="emojione-render">🔒</span> {% trans 'Privacy Policy' %}</a>
		</li>
		<li>
		  <a href="/_about/#press"><span class="emojione-render">💁</span> {% trans 'Press' %}</a>
		</li>
	      </ul>
	    </nav>
	  </div>
	  <div class="col-md-4">
	    <br><br>
	    <nav>
	      <ul>
		<!-- <li> -->
		<!--   <a href="#jucy-idea-create"><span class="emojione-render">💡</span> {% trans 'Suggest an idea / Report a bug' %}</a> -->
		<!-- </li> -->
		<!-- <li> -->
		<!--   <a href="#jucy-idea-vote"><span class="emojione-render">🙋</span> {% blocktrans %}Decide what's next on Jucy{% endblocktrans %}</a> -->
		<!-- </li> -->
		<li>
		  <a href="/_about/#team"><span class="emojione-render">👨‍👩‍👧‍👦</span> {% trans 'Meet the team' %}</a>
		</li>
		<li>
		  <a href="/_about/#contact"><span class="emojione-render">✉️</span> {% trans 'Contact us' %}</a>
		</li>
		<li>
		  <a href="/_about/#jobs"><span class="emojione-render">👷</span> {% trans 'Jobs' %}</a>
		</li>
	      </ul>
	    </nav>
	  </div>
	</div>
      </div>
    </footer>
